<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.NewsMapper">
	<select id="selectAllNews" resultType="vo.NewsVO">
		select id, writer, title, content, to_char(writedate, 'yyyy-mm-dd') writedate, cnt from news
	</select>
	
	<select id="selectOneNews" parameterType="_int"
		resultType="vo.NewsVO">
		select id, writer, title, content, to_char(writedate, 'yyyy-mm-dd') writedate, cnt from news where id = #{id}
	</select>
<!-- 	조회수 -->
<!-- 	<update id="selectOneNewsCount" parameterType="vo.NewsVO">
		update news set writer =#{writer}, title =#{title}, content = #{content}, writedate = sysdate, cnt = cnt+1 where id = #{id}
	</update> -->
	
	<insert id="insertNews" parameterType="vo.NewsVO">
		insert into news(id, writer, title, content, writedate, cnt) values(NEWS_SEQ.nextval, #{writer}, #{title}, #{content}, sysdate, 0)
	</insert>
	
	<delete id="deleteNews" parameterType="_int">
		delete from news where id = #{id}
	</delete>
	
	<update id="updateNews" parameterType="vo.NewsVO">
		update news set writer =#{writer}, title =#{title}, content = #{content}, writedate = sysdate, cnt = #{cnt} where id = #{id}
	</update>
	
</mapper>